PORT=3000
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/envault
SESSION_SECRET=super_secret_dev_key
SERVER_ENCRYPTION_SECRET=your_32_character_long_secret_key_here
RAZORPAY_KEY_ID=test_key_id
RAZORPAY_KEY_SECRET=test_key_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FREE_PROJECT_LIMIT=3
FREE_VAR_LIMIT=15